In [1]:
import pandas as pd

# Series = A Pandas 1-Dimensional Labeled Array That Can Hold Any Data Type

#             Think Of It A Single Column In A Spreadsheet (1-Dimensional)

In [2]:
data = [100, 102, 104, 200, 202]

series = pd.Series(data, index=["a", "b", "c", "d", "e"])



print(series[series >= 200])

d    200
e    202
dtype: int64

In [3]:
calories = {"Day1": 1750, "Day2": 2100, "Day3": 1700}


series1 = pd.Series(calories)


print(series1[series1 < 2000])

Day1    1750
Day3    1700
dtype: int64

# DataFrame = A Tabular Data Structure With Rows And Columns.(2 Dimensional)
#            Similar to An Excel Spreadsheet

In [8]:
data1 = {"Name": ["Spongebob", "Patrick", "Squidward"], 
 "Age": [30, 35, 50]
 }
df = pd.DataFrame(data1, index=["Employee 1", "Employee 2", "Employee 3"])

# Add A New Column
df["Job"] = ["Cook", "N/A", "Cashier"]
# Add  A New Row
new_row = pd.DataFrame([{"Name": "Sandy", "Age":28, "Job": "Engineer"}, 
                        {"Name": "Eugene", "Age":60, "Job": "Manager"}], 
                       index=["Employee 4", "Employee 5"])
df = pd.concat([df, new_row])

print(df)

                 Name  Age       Job
Employee 1  Spongebob   30      Cook
Employee 2    Patrick   35       N/A
Employee 3  Squidward   50   Cashier
Employee 4      Sandy   28  Engineer
Employee 5     Eugene   60   Manager