# part 1 : Scikit Learn

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('500hits.csv', encoding = 'latin-1')

In [4]:
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [5]:
df.columns

Index(['PLAYER', 'YRS', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB',
       'SO', 'SB', 'CS', 'BA', 'HOF'],
      dtype='object')

                                 # Creating Features and Target Datasets

Before we split our dataset into training and testing, we should drop any column that we believe isn’t helpful for predicting. In this case, we drop PLAYER as it’s just a name. A name shouldn’t be a predictor if a baseball player should make the hall of fame.

Additionally we will want to split our dataset into features and target. This often is represented by a capital X and lowercase y. We do not want our target in the feature dataset. So for X we drop the PLAYER and HOF columns.

In [6]:
X = df.drop(columns=['PLAYER', 'HOF'])

We set y equal to the target we want to predict which is if a player makes the baseball hall of fame.

In [7]:
y = df['HOF']

By utilizing head, we can quickly see the first 5 rows of the features dataset.

In [8]:
X.shape

(465, 14)

In [9]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: HOF, dtype: int64

                              # Our First Train Test Split

When we train test split, we will create 4 results. A train and test for X and a train and test for Y.

We set these equal to train_test_split. Inside we have the first two parameters which should be out X and y datasets.

You want to have a random_state selected so that the split can be reproduced again. Set this to an integer.

Next you’ll want to define a test_size. The standard is o.2 which would be 20% of our data. It’s good practice to have an 80% training with 20% test split in practice. This can change though depending on the sample size of your data, but this is a good start.

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=11, test_size=0.2)

In [11]:
X_train.shape

(372, 14)

In [12]:
X_test.shape

(93, 14)

In [13]:
X_train.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
289,18,2028,7298,873,1993,284,40,325,1163,620,1313,20,38,0.273
288,13,1836,6826,856,1996,392,117,43,402,513,360,247,108,0.292
350,14,1799,6373,876,1854,282,64,49,630,844,627,37,51,0.291
196,17,2158,7911,1057,2276,414,92,94,844,690,784,246,138,0.288
184,19,2390,8570,1386,2369,420,65,244,1084,1197,1099,143,75,0.276

In [14]:
X_test.describe().round(3)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000,93.000
mean,17.204,2057.409,7452.968,1135.065,2139.258,374.742,80.398,194.677,867.011,797.387,836.065,191.817,54.473,0.287
std,3.154,368.580,1265.371,283.877,415.165,93.929,51.792,151.600,495.127,328.755,552.309,166.926,42.508,0.022
min,11.000,1399.000,5472.000,601.000,1660.000,206.000,14.000,15.000,0.000,266.000,15.000,8.000,0.000,0.248
25%,15.000,1820.000,6622.000,935.000,1818.000,310.000,45.000,78.000,618.000,527.000,359.000,61.000,15.000,0.272
50%,17.000,1997.000,7359.000,1108.000,2054.000,361.000,68.000,151.000,926.000,750.000,745.000,137.000,50.000,0.285
75%,19.000,2282.000,8096.000,1283.000,2256.000,432.000,99.000,291.000,1138.000,937.000,1179.000,271.000,83.000,0.299
max,25.000,2850.000,10876.000,1859.000,3430.000,668.000,252.000,612.000,1922.000,1747.000,2597.000,744.000,173.000,0.340

# part 2

In [15]:
df.columns

Index(['PLAYER', 'YRS', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB',
       'SO', 'SB', 'CS', 'BA', 'HOF'],
      dtype='object')

In [17]:
df = df.drop(columns=['PLAYER', 'CS'])
print(df)

     YRS     G     AB     R     H   2B   3B   HR   RBI    BB    SO   SB  \
0     24  3035  11434  2246  4189  724  295  117   726  1249   357  892
1     22  3026  10972  1949  3630  725  177  475  1951  1599   696   78
2     22  2789  10195  1882  3514  792  222  117   724  1381   220  432
3     20  2747  11195  1923  3465  544   66  260  1311  1082  1840  358
4     21  2792  10430  1736  3430  640  252  101     0   963   327  722
..   ...   ...    ...   ...   ...  ...  ...  ...   ...   ...   ...  ...
460   15  1920   6653  1105  1665  285   39  291   964  1224  1427  225
461   17  1829   6092   900  1664  379   10  275  1065   936  1453   20
462   15  1834   6499  1062  1661  338   67  210   761   960  1190  315
463   16  1822   6309   714  1660  254   25   54   593   396   489   74
464   15  1468   5629   785  1660  247   71   61   499   266   471  267

        BA  HOF
0    0.366    1
1    0.331    1
2    0.345    1
3    0.310    1
4    0.329    1
..     ...  ...
460  0.250    0
461  0.273    0
462  0.256    0
463  0.263    0
464  0.295    0

[465 rows x 14 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YRS     465 non-null    int64
 1   G       465 non-null    int64
 2   AB      465 non-null    int64
 3   R       465 non-null    int64
 4   H       465 non-null    int64
 5   2B      465 non-null    int64
 6   3B      465 non-null    int64
 7   HR      465 non-null    int64
 8   RBI     465 non-null    int64
 9   BB      465 non-null    int64
 10  SO      465 non-null    int64
 11  SB      465 non-null    int64
 12  BA      465 non-null    float64
 13  HOF     465 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 51.0 KB

In [19]:
df.describe().round(3)

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
count,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000,465.000
mean,17.049,2048.699,7511.456,1150.314,2170.247,380.953,78.555,201.049,894.260,783.561,847.471,195.905,0.289,0.329
std,2.765,354.392,1294.066,289.635,424.191,96.483,49.363,143.623,486.193,327.432,489.224,181.846,0.021,0.475
min,11.000,1331.000,4981.000,601.000,1660.000,177.000,3.000,9.000,0.000,239.000,0.000,7.000,0.246,0.000
25%,15.000,1802.000,6523.000,936.000,1838.000,312.000,41.000,79.000,640.000,535.000,436.000,63.000,0.273,0.000
50%,17.000,1993.000,7241.000,1104.000,2076.000,366.000,67.000,178.000,968.000,736.000,825.000,137.000,0.287,0.000
75%,19.000,2247.000,8180.000,1296.000,2375.000,436.000,107.000,292.000,1206.000,955.000,1226.000,285.000,0.300,1.000
max,26.000,3308.000,12364.000,2295.000,4189.000,792.000,309.000,755.000,2297.000,2190.000,2597.000,1406.000,0.366,2.000

In [20]:
X1 = df.iloc[:, 0:13]

In [21]:
X2 = df.iloc[:, 0:13]

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
StandardScaler = StandardScaler()

In [25]:
X1 = StandardScaler.fit_transform(X1)

In [27]:
df.columns

Index(['YRS', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'SB',
       'BA', 'HOF'],
      dtype='object')

In [28]:
X1 = pd.DataFrame(X1, columns = ['YRS', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'BB', 'SO', 'SB', 'BA', 'HOF'])

In [30]:
X1.head()

   YRS   G  AB   R   H  2B  3B  HR  RBI  BB  SO  SB  BA  HOF
0  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN
1  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN
2  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN
3  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN
4  NaN NaN NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN NaN  NaN