In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\LENOVO\Downloads\customers_messy_1200_rows.csv")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer,Do_Not_Contact,Not_Useful_Column
0,1015,Creed,Winger,8197368678,"910 Tatooine Road, Tatooine",NO,NaN,False
1,1001,Creed,Holmes,NaN,298 Drugs Driveway,NO,Y,NaN
2,1003,Walter,Potter,NaN,298 Drugs Driveway,yes,NaN,True
3,1003,Gandalf,Draper,7475290028,93 West Main Street,Yes,Yes,True
4,1013,Sherlock,Knope,9699065204,93 West Main Street,Y,No,False
...,...,...,...,...,...,...,...,...
1195,1006,Leslie,Bratton,N/a,"123 Shire Lane, Shire",NO,NaN,NaN
1196,2196,Harry,Grey,N/a,93 West Main Street,NaN,NaN,NaN
1197,1005,Abed,Scott,7265482305,"25th Main Street, New York",N,NaN,True
1198,2198,NaN,Grey,123-4539-8939,,NO,NaN,True
1199,2199,Sherlock,Scott,123-4561-1412,"980 Paper Avenue, Pennsylvania, 18503",N,NaN,False

In [6]:
df = df.drop_duplicates()

In [7]:
df.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Paying_Customer', 'Do_Not_Contact', 'Not_Useful_Column'],
      dtype='object')

In [9]:
df.drop(columns = "Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer,Do_Not_Contact,Not_Useful_Column
0,1015,Creed,Winger,8197368678,"910 Tatooine Road, Tatooine",NO,NaN,False
1,1001,Creed,Holmes,NaN,298 Drugs Driveway,NO,Y,NaN
2,1003,Walter,Potter,NaN,298 Drugs Driveway,yes,NaN,True
3,1003,Gandalf,Draper,7475290028,93 West Main Street,Yes,Yes,True
4,1013,Sherlock,Knope,9699065204,93 West Main Street,Y,No,False
...,...,...,...,...,...,...,...,...
1195,1006,Leslie,Bratton,N/a,"123 Shire Lane, Shire",NO,NaN,NaN
1196,2196,Harry,Grey,N/a,93 West Main Street,NaN,NaN,NaN
1197,1005,Abed,Scott,7265482305,"25th Main Street, New York",N,NaN,True
1198,2198,NaN,Grey,123-4539-8939,,NO,NaN,True
1199,2199,Sherlock,Scott,123-4561-1412,"980 Paper Avenue, Pennsylvania, 18503",N,NaN,False

In [ ]:
df['Last_Name'] = df['Last_Name'].str.strip("...")
df['Last_Name'] = df['Last_Name'].str.strip("/")
df['Last_Name'] = df['Last_Name'].str.strip("_")
df['Last_Name'] = df['Last_Name'].str.strip("Missing value")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer,Do_Not_Contact,Not_Useful_Column
0,1015,Creed,Winger,8197368678,"910 Tatooine Road, Tatooine",NO,NaN,False
1,1001,Creed,Holm,NaN,298 Drugs Driveway,NO,Y,NaN
2,1003,Walter,Potter,NaN,298 Drugs Driveway,yes,NaN,True
3,1003,Gandalf,Draper,7475290028,93 West Main Street,Yes,Yes,True
4,1013,Sherlock,Knop,9699065204,93 West Main Street,Y,No,False
...,...,...,...,...,...,...,...,...
1195,1006,Leslie,Bratto,N/a,"123 Shire Lane, Shire",NO,NaN,NaN
1196,2196,Harry,Grey,N/a,93 West Main Street,NaN,NaN,NaN
1197,1005,Abed,Scott,7265482305,"25th Main Street, New York",N,NaN,True
1198,2198,NaN,Grey,123-4539-8939,,NO,NaN,True
1199,2199,Sherlock,Scott,123-4561-1412,"980 Paper Avenue, Pennsylvania, 18503",N,NaN,False

In [21]:
#df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-za-Z0-9]','')
df["Phone_Number"].apply(lambda x: x[0:3]+ '-'+ x[3:6] + '-' + x[6:10])

# df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))

0       819-736-8678
1              nan--
2              nan--
3       747-529-0028
4       969-906-5204
            ...
1195           N/a--
1196           N/a--
1197    726-548-2305
1198    123--45-39-8
1199    123--45-61-1
Name: Phone_Number, Length: 1200, dtype: object