In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\LENOVO\AppData\Local\Temp\d0275124-ff70-4f62-a34b-c68e10ce4baf_archive (1).zip.baf\FirstGenPokemon.csv")
print(df.to_string())

    No        Name     Type1     Type2  Height  Weight  Legendary
0    1   Bulbasaur     Grass    Poison     0.7     6.9          0
1    2     Ivysaur     Grass    Poison     1.0    13.0          0
2    3    Venusaur     Grass    Poison     2.0   100.0          0
3    4  Charmander      Fire       NaN     0.6     8.5          0
4    5  Charmeleon      Fire       NaN     1.1    19.0          0
5    6   Charizard      Fire    Flying     1.7    90.5          0
6    7    Squirtle     Water       NaN     0.5     9.0          0
7    8   Wartortle     Water       NaN     1.0    22.5          0
8    9   Blastoise     Water       NaN     1.6    85.5          0
9   10    Caterpie       Bug       NaN     0.3     2.9          0
10  11     Metapod       Bug       NaN     0.7     9.9          0
11  12  Butterfree       Bug    Flying     1.1    32.0          0
12  13      Weedle       Bug    Poison     0.3     3.2          0
13  14      Kakuna       Bug    Poison     0.6    10.0          0
14  15    Beedrill       Bug    Poison     1.0    29.5          0
15  16      Pidgey    Normal    Flying     0.3     1.8          0
16  17   Pidgeotto    Normal    Flying     1.1    30.0          0
17  18     Pidgeot    Normal    Flying     1.5    39.5          0
18  19     Rattata    Normal       NaN     0.3     3.5          0
19  20    Raticate    Normal       NaN     0.7    18.5          0
20  21     Spearow    Normal    Flying     0.3     2.0          0
21  22      Fearow    Normal    Flying     1.2    38.0          0
22  23       Ekans    Poison       NaN     2.0     6.9          0
23  24       Arbok    Poison       NaN     3.5    65.0          0
24  25     Pikachu  Electric       NaN     0.4     6.0          0
25  26      Raichu  Electric       NaN     0.8    30.0          0
26  27   Sandshrew    Ground       NaN     0.6    12.0          0
27  28   Sandslash    Ground       NaN     1.0    29.5          0
28  29    Nidoran♀    Poison       NaN     0.4     7.0          0
29  30    Nidorina    Poison       NaN     0.8    20.0          0
30  31   Nidoqueen    Poison    Ground     1.3    60.0          0
31  32    Nidoran♂    Poison       NaN     0.5     9.0          0
32  33    Nidorino    Poison       NaN     0.9    19.5          0
33  34    Nidoking    Poison    Ground     1.4    62.0          0
34  35    Clefairy     Fairy       NaN     0.6     7.5          0
35  36    Clefable     Fairy       NaN     1.3    40.0          0
36  37      Vulpix      Fire       NaN     0.6     9.9          0
37  38   Ninetales      Fire       NaN     1.1    19.9          0
38  39  Jigglypuff    Normal     Fairy     0.5     5.5          0
39  40  Wigglytuff    Normal     Fairy     1.0    12.0          0
40  41       Zubat    Poison    Flying     0.8     7.5          0
41  42      Golbat    Poison    Flying     1.6    55.0          0
42  43      Oddish     Grass    Poison     0.5     4.2          0
43  44       Gloom     Grass    Poison     0.8     8.6          0
44  45   Vileplume     Grass    Poison     1.2    18.6          0
45  46       Paras       Bug     Grass     0.3     5.4          0
46  47    Parasect       Bug     Grass     1.0    29.5          0
47  48     Venonat       Bug    Poison     1.0    30.0          0
48  49    Venomoth       Bug    Poison     1.5    12.5          0
49  50     Diglett    Ground       NaN     0.2     0.8          0
50  51     Dugtrio    Ground       NaN     0.7    33.3          0
51  52      Meowth    Normal       NaN     0.4     4.2          0
52  53     Persian    Normal       NaN     1.0    32.0          0
53  54     Psyduck     Water       NaN     0.8    19.5          0
54  55     Golduck     Water       NaN     1.7    76.6          0
55  56      Mankey  Fighting       NaN     0.5    28.0          0
56  57    Primeape  Fighting       NaN     1.0    32.0          0
57  58   Growlithe      Fire       NaN     0.7    19.0          0
58  59    Arcanine      Fire       NaN     1.9   155.0          0
59  60     Poliwag     Water       NaN     0.6    12.4          0
60  61   Poliwhirl     Water       NaN     1.0    20.0          0
61  62   Poliwrath     Water  Fighting     1.3    54.0          0
62  63        Abra   Psychic       NaN     0.9    19.5          0
63  64     Kadabra   Psychic       NaN     1.3    56.5          0
64  65    Alakazam   Psychic       NaN     1.5    48.0          0
65  66      Machop  Fighting       NaN     0.8    19.5          0
66  67     Machoke  Fighting       NaN     1.5    70.5          0
67  68     Machamp  Fighting       NaN     1.6   130.0          0
68  69  Bellsprout     Grass    Poison     0.7     4.0          0
69  70  Weepinbell     Grass    Poison     1.0     6.4          0
70  71  Victreebel     Grass    Poison     1.7    15.5          0
71  72   Tentacool     Water    Poison     0.9    45.5          0
72  73  Tentacruel     Water    Poison     1.6    55.0          0

# Selection By Column

In [3]:
print(df["Name"].to_string())

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
18       Rattata
19      Raticate
20       Spearow
21        Fearow
22         Ekans
23         Arbok
24       Pikachu
25        Raichu
26     Sandshrew
27     Sandslash
28      Nidoran♀
29      Nidorina
30     Nidoqueen
31      Nidoran♂
32      Nidorino
33      Nidoking
34      Clefairy
35      Clefable
36        Vulpix
37     Ninetales
38    Jigglypuff
39    Wigglytuff
40         Zubat
41        Golbat
42        Oddish
43         Gloom
44     Vileplume
45         Paras
46      Parasect
47       Venonat
48      Venomoth
49       Diglett
50       Dugtrio
51        Meowth
52       Persian
53       Psyduck
54       Golduck
55        Mankey
56      Primeape
57     Growlithe
58      Arcanine
59       Poliwag
60     Poliwhirl
61     Poliwrath
62          Abra
63       Kadabra
64      Alakazam
65        Machop
66       Machoke
67       Machamp
68    Bellsprout
69    Weepinbell
70    Victreebel
71     Tentacool
72    Tentacruel

In [4]:
print(df[["Name", "Height", "Weight"]].to_string())

          Name  Height  Weight
0    Bulbasaur     0.7     6.9
1      Ivysaur     1.0    13.0
2     Venusaur     2.0   100.0
3   Charmander     0.6     8.5
4   Charmeleon     1.1    19.0
5    Charizard     1.7    90.5
6     Squirtle     0.5     9.0
7    Wartortle     1.0    22.5
8    Blastoise     1.6    85.5
9     Caterpie     0.3     2.9
10     Metapod     0.7     9.9
11  Butterfree     1.1    32.0
12      Weedle     0.3     3.2
13      Kakuna     0.6    10.0
14    Beedrill     1.0    29.5
15      Pidgey     0.3     1.8
16   Pidgeotto     1.1    30.0
17     Pidgeot     1.5    39.5
18     Rattata     0.3     3.5
19    Raticate     0.7    18.5
20     Spearow     0.3     2.0
21      Fearow     1.2    38.0
22       Ekans     2.0     6.9
23       Arbok     3.5    65.0
24     Pikachu     0.4     6.0
25      Raichu     0.8    30.0
26   Sandshrew     0.6    12.0
27   Sandslash     1.0    29.5
28    Nidoran♀     0.4     7.0
29    Nidorina     0.8    20.0
30   Nidoqueen     1.3    60.0
31    Nidoran♂     0.5     9.0
32    Nidorino     0.9    19.5
33    Nidoking     1.4    62.0
34    Clefairy     0.6     7.5
35    Clefable     1.3    40.0
36      Vulpix     0.6     9.9
37   Ninetales     1.1    19.9
38  Jigglypuff     0.5     5.5
39  Wigglytuff     1.0    12.0
40       Zubat     0.8     7.5
41      Golbat     1.6    55.0
42      Oddish     0.5     4.2
43       Gloom     0.8     8.6
44   Vileplume     1.2    18.6
45       Paras     0.3     5.4
46    Parasect     1.0    29.5
47     Venonat     1.0    30.0
48    Venomoth     1.5    12.5
49     Diglett     0.2     0.8
50     Dugtrio     0.7    33.3
51      Meowth     0.4     4.2
52     Persian     1.0    32.0
53     Psyduck     0.8    19.5
54     Golduck     1.7    76.6
55      Mankey     0.5    28.0
56    Primeape     1.0    32.0
57   Growlithe     0.7    19.0
58    Arcanine     1.9   155.0
59     Poliwag     0.6    12.4
60   Poliwhirl     1.0    20.0
61   Poliwrath     1.3    54.0
62        Abra     0.9    19.5
63     Kadabra     1.3    56.5
64    Alakazam     1.5    48.0
65      Machop     0.8    19.5
66     Machoke     1.5    70.5
67     Machamp     1.6   130.0
68  Bellsprout     0.7     4.0
69  Weepinbell     1.0     6.4
70  Victreebel     1.7    15.5
71   Tentacool     0.9    45.5
72  Tentacruel     1.6    55.0

# Selection By Row/S

In [5]:
print(df.loc[1])

No                 2
Name         Ivysaur
Type1          Grass
Type2         Poison
Height           1.0
Weight          13.0
Legendary          0
Name: 1, dtype: object

In [6]:
print(df.iloc[0:11:2, 0:3])

    No        Name  Type1
0    1   Bulbasaur  Grass
2    3    Venusaur  Grass
4    5  Charmeleon   Fire
6    7    Squirtle  Water
8    9   Blastoise  Water
10  11     Metapod    Bug

In [7]:
pokemon = input("Enter a Pokemon name: ")
try:
    print(df.loc["pokemon"])
except KeyError:
    
    print(f"{pokemon} noy found")

pokkkk noy found

# Filtering = Keeping The Rows That Match A condition

In [8]:
# tall_pokemon = df[df["Height"] >= 2] 

heavy_pokemon = df[df["Weight"] >= 100]

print(heavy_pokemon)

    No      Name     Type1   Type2  Height  Weight  Legendary
2    3  Venusaur     Grass  Poison     2.0   100.0          0
58  59  Arcanine      Fire     NaN     1.9   155.0          0
67  68   Machamp  Fighting     NaN     1.6   130.0          0

In [9]:


tall_pokemon = df[df["Height"] >= 2]
heavy_pokemon = df[df["Weight"] > 100]
legendary_pokemon = df[df["Legendary"] == True]
water_pokemon = df[(df["Type1"] == "Water") | (df["Type2"] == "Water")]
ff_pokemon = df[(df["Type1"] == "Fire") & (df["Type2"] == "Flying")]

print("\n=== Tall Pokémon (Height >= 2) ===")
print(tall_pokemon)
print("===============================\n")

print("=== Heavy Pokémon (Weight > 100) ===")
print(heavy_pokemon)
print("===============================\n")

print("=== Legendary Pokémon ===")
print(legendary_pokemon)
print("===============================\n")

print("=== Water Pokémon ===")
print(water_pokemon)
print("===============================\n")

print("=== Fire & Flying Pokémon ===")
print(ff_pokemon)
print("===============================\n")

=== Tall Pokémon (Height >= 2) ===
    No      Name   Type1   Type2  Height  Weight  Legendary
2    3  Venusaur   Grass  Poison     2.0   100.0          0
22  23     Ekans  Poison     NaN     2.0     6.9          0
23  24     Arbok  Poison     NaN     3.5    65.0          0
===============================

=== Heavy Pokémon (Weight > 100) ===
    No      Name     Type1 Type2  Height  Weight  Legendary
58  59  Arcanine      Fire   NaN     1.9   155.0          0
67  68   Machamp  Fighting   NaN     1.6   130.0          0
===============================

=== Legendary Pokémon ===
Empty DataFrame
Columns: [No, Name, Type1, Type2, Height, Weight, Legendary]
Index: []
===============================

=== Water Pokémon ===
    No        Name  Type1     Type2  Height  Weight  Legendary
6    7    Squirtle  Water       NaN     0.5     9.0          0
7    8   Wartortle  Water       NaN     1.0    22.5          0
8    9   Blastoise  Water       NaN     1.6    85.5          0
53  54     Psyduck  Water       NaN     0.8    19.5          0
54  55     Golduck  Water       NaN     1.7    76.6          0
59  60     Poliwag  Water       NaN     0.6    12.4          0
60  61   Poliwhirl  Water       NaN     1.0    20.0          0
61  62   Poliwrath  Water  Fighting     1.3    54.0          0
71  72   Tentacool  Water    Poison     0.9    45.5          0
72  73  Tentacruel  Water    Poison     1.6    55.0          0
===============================

=== Fire & Flying Pokémon ===
   No       Name Type1   Type2  Height  Weight  Legendary
5   6  Charizard  Fire  Flying     1.7    90.5          0
===============================

# Aggregate Functions = Reduces a Set Of Values Into a Single Summary Value 
#                       Used To Summarize And Analyze Data 
#                       Often Used With The Groupby() Function

In [10]:
# Whole Dataframe
print(df.mean(numeric_only=True))
print(df.sum(numeric_only=True))
print(df.min(numeric_only=True))
print(df.max(numeric_only=True))
print(df.count())

No           37.000000
Height        0.990411
Weight       29.121918
Legendary     0.000000
dtype: float64
No           2701.0
Height         72.3
Weight       2125.9
Legendary       0.0
dtype: float64
No           1.0
Height       0.2
Weight       0.8
Legendary    0.0
dtype: float64
No            73.0
Height         3.5
Weight       155.0
Legendary      0.0
dtype: float64
No           73
Name         73
Type1        73
Type2        32
Height       73
Weight       73
Legendary    73
dtype: int64

In [11]:
# Single column


print(df["Height"].mean())
print(df[["Height"]].sum())
print(df[["Height"]].min())
print(df[["Height"]].max())
print(df[["Height"]].count())

0.9904109589041096
Height    72.3
dtype: float64
Height    0.2
dtype: float64
Height    3.5
dtype: float64
Height    73
dtype: int64

In [12]:
group = df.groupby("Type1")
print(group["Height"].mean())
print(group["Height"].sum())
print(group["Height"].min())
print(group["Height"].max())
print(group["Height"].count())

Type1
Bug         0.780000
Electric    0.600000
Fairy       0.950000
Fighting    1.080000
Fire        1.100000
Grass       1.066667
Ground      0.625000
Normal      0.754545
Poison      1.320000
Psychic     1.233333
Water       1.100000
Name: Height, dtype: float64
Type1
Bug          7.8
Electric     1.2
Fairy        1.9
Fighting     5.4
Fire         7.7
Grass        9.6
Ground       2.5
Normal       8.3
Poison      13.2
Psychic      3.7
Water       11.0
Name: Height, dtype: float64
Type1
Bug         0.3
Electric    0.4
Fairy       0.6
Fighting    0.5
Fire        0.6
Grass       0.5
Ground      0.2
Normal      0.3
Poison      0.4
Psychic     0.9
Water       0.5
Name: Height, dtype: float64
Type1
Bug         1.5
Electric    0.8
Fairy       1.3
Fighting    1.6
Fire        1.9
Grass       2.0
Ground      1.0
Normal      1.5
Poison      3.5
Psychic     1.5
Water       1.7
Name: Height, dtype: float64
Type1
Bug         10
Electric     2
Fairy        2
Fighting     5
Fire         7
Grass        9
Ground       4
Normal      11
Poison      10
Psychic      3
Water       10
Name: Height, dtype: int64

# Data Cleaning = The Process Of Fixing/Removing:
#                 Incomplete, Incorrect, or Irrelevant Data.
#                 ~75% Of Work Done With Pandas Is Data Cleaning

In [13]:
df = df.drop(columns=["Name"])

print(df)

    No  Type1   Type2  Height  Weight  Legendary
0    1  Grass  Poison     0.7     6.9          0
1    2  Grass  Poison     1.0    13.0          0
2    3  Grass  Poison     2.0   100.0          0
3    4   Fire     NaN     0.6     8.5          0
4    5   Fire     NaN     1.1    19.0          0
..  ..    ...     ...     ...     ...        ...
68  69  Grass  Poison     0.7     4.0          0
69  70  Grass  Poison     1.0     6.4          0
70  71  Grass  Poison     1.7    15.5          0
71  72  Water  Poison     0.9    45.5          0
72  73  Water  Poison     1.6    55.0          0

[73 rows x 6 columns]

In [14]:
# df = df.dropna(subset=["Type1"])
df = df.fillna({"Type1": "Nonn"})
print(df.to_string())

    No     Type1     Type2  Height  Weight  Legendary
0    1     Grass    Poison     0.7     6.9          0
1    2     Grass    Poison     1.0    13.0          0
2    3     Grass    Poison     2.0   100.0          0
3    4      Fire       NaN     0.6     8.5          0
4    5      Fire       NaN     1.1    19.0          0
5    6      Fire    Flying     1.7    90.5          0
6    7     Water       NaN     0.5     9.0          0
7    8     Water       NaN     1.0    22.5          0
8    9     Water       NaN     1.6    85.5          0
9   10       Bug       NaN     0.3     2.9          0
10  11       Bug       NaN     0.7     9.9          0
11  12       Bug    Flying     1.1    32.0          0
12  13       Bug    Poison     0.3     3.2          0
13  14       Bug    Poison     0.6    10.0          0
14  15       Bug    Poison     1.0    29.5          0
15  16    Normal    Flying     0.3     1.8          0
16  17    Normal    Flying     1.1    30.0          0
17  18    Normal    Flying     1.5    39.5          0
18  19    Normal       NaN     0.3     3.5          0
19  20    Normal       NaN     0.7    18.5          0
20  21    Normal    Flying     0.3     2.0          0
21  22    Normal    Flying     1.2    38.0          0
22  23    Poison       NaN     2.0     6.9          0
23  24    Poison       NaN     3.5    65.0          0
24  25  Electric       NaN     0.4     6.0          0
25  26  Electric       NaN     0.8    30.0          0
26  27    Ground       NaN     0.6    12.0          0
27  28    Ground       NaN     1.0    29.5          0
28  29    Poison       NaN     0.4     7.0          0
29  30    Poison       NaN     0.8    20.0          0
30  31    Poison    Ground     1.3    60.0          0
31  32    Poison       NaN     0.5     9.0          0
32  33    Poison       NaN     0.9    19.5          0
33  34    Poison    Ground     1.4    62.0          0
34  35     Fairy       NaN     0.6     7.5          0
35  36     Fairy       NaN     1.3    40.0          0
36  37      Fire       NaN     0.6     9.9          0
37  38      Fire       NaN     1.1    19.9          0
38  39    Normal     Fairy     0.5     5.5          0
39  40    Normal     Fairy     1.0    12.0          0
40  41    Poison    Flying     0.8     7.5          0
41  42    Poison    Flying     1.6    55.0          0
42  43     Grass    Poison     0.5     4.2          0
43  44     Grass    Poison     0.8     8.6          0
44  45     Grass    Poison     1.2    18.6          0
45  46       Bug     Grass     0.3     5.4          0
46  47       Bug     Grass     1.0    29.5          0
47  48       Bug    Poison     1.0    30.0          0
48  49       Bug    Poison     1.5    12.5          0
49  50    Ground       NaN     0.2     0.8          0
50  51    Ground       NaN     0.7    33.3          0
51  52    Normal       NaN     0.4     4.2          0
52  53    Normal       NaN     1.0    32.0          0
53  54     Water       NaN     0.8    19.5          0
54  55     Water       NaN     1.7    76.6          0
55  56  Fighting       NaN     0.5    28.0          0
56  57  Fighting       NaN     1.0    32.0          0
57  58      Fire       NaN     0.7    19.0          0
58  59      Fire       NaN     1.9   155.0          0
59  60     Water       NaN     0.6    12.4          0
60  61     Water       NaN     1.0    20.0          0
61  62     Water  Fighting     1.3    54.0          0
62  63   Psychic       NaN     0.9    19.5          0
63  64   Psychic       NaN     1.3    56.5          0
64  65   Psychic       NaN     1.5    48.0          0
65  66  Fighting       NaN     0.8    19.5          0
66  67  Fighting       NaN     1.5    70.5          0
67  68  Fighting       NaN     1.6   130.0          0
68  69     Grass    Poison     0.7     4.0          0
69  70     Grass    Poison     1.0     6.4          0
70  71     Grass    Poison     1.7    15.5          0
71  72     Water    Poison     0.9    45.5          0
72  73     Water    Poison     1.6    55.0          0

# Fix Inconsistent Values

In [15]:
df ["Type2"] = df["Type2"].replace({"NaN": "nan"})
print(df)

    No  Type1   Type2  Height  Weight  Legendary
0    1  Grass  Poison     0.7     6.9          0
1    2  Grass  Poison     1.0    13.0          0
2    3  Grass  Poison     2.0   100.0          0
3    4   Fire     NaN     0.6     8.5          0
4    5   Fire     NaN     1.1    19.0          0
..  ..    ...     ...     ...     ...        ...
68  69  Grass  Poison     0.7     4.0          0
69  70  Grass  Poison     1.0     6.4          0
70  71  Grass  Poison     1.7    15.5          0
71  72  Water  Poison     0.9    45.5          0
72  73  Water  Poison     1.6    55.0          0

[73 rows x 6 columns]

# Standardize Text

In [22]:
df["No"] = df["No"].astype(str).str.lower()
print(df)

    No  Type1   Type2  Height  Weight  Legendary
0    1  Grass  Poison     0.7     6.9          0
1    2  Grass  Poison     1.0    13.0          0
2    3  Grass  Poison     2.0   100.0          0
3    4   Fire     NaN     0.6     8.5          0
4    5   Fire     NaN     1.1    19.0          0
..  ..    ...     ...     ...     ...        ...
68  69  Grass  Poison     0.7     4.0          0
69  70  Grass  Poison     1.0     6.4          0
70  71  Grass  Poison     1.7    15.5          0
71  72  Water  Poison     0.9    45.5          0
72  73  Water  Poison     1.6    55.0          0

[73 rows x 6 columns]

# Fix Data Types

In [23]:
df["Legendary"] = df["Legendary"].astype(bool)
print(df.to_string())

    No     Type1     Type2  Height  Weight  Legendary
0    1     Grass    Poison     0.7     6.9      False
1    2     Grass    Poison     1.0    13.0      False
2    3     Grass    Poison     2.0   100.0      False
3    4      Fire       NaN     0.6     8.5      False
4    5      Fire       NaN     1.1    19.0      False
5    6      Fire    Flying     1.7    90.5      False
6    7     Water       NaN     0.5     9.0      False
7    8     Water       NaN     1.0    22.5      False
8    9     Water       NaN     1.6    85.5      False
9   10       Bug       NaN     0.3     2.9      False
10  11       Bug       NaN     0.7     9.9      False
11  12       Bug    Flying     1.1    32.0      False
12  13       Bug    Poison     0.3     3.2      False
13  14       Bug    Poison     0.6    10.0      False
14  15       Bug    Poison     1.0    29.5      False
15  16    Normal    Flying     0.3     1.8      False
16  17    Normal    Flying     1.1    30.0      False
17  18    Normal    Flying     1.5    39.5      False
18  19    Normal       NaN     0.3     3.5      False
19  20    Normal       NaN     0.7    18.5      False
20  21    Normal    Flying     0.3     2.0      False
21  22    Normal    Flying     1.2    38.0      False
22  23    Poison       NaN     2.0     6.9      False
23  24    Poison       NaN     3.5    65.0      False
24  25  Electric       NaN     0.4     6.0      False
25  26  Electric       NaN     0.8    30.0      False
26  27    Ground       NaN     0.6    12.0      False
27  28    Ground       NaN     1.0    29.5      False
28  29    Poison       NaN     0.4     7.0      False
29  30    Poison       NaN     0.8    20.0      False
30  31    Poison    Ground     1.3    60.0      False
31  32    Poison       NaN     0.5     9.0      False
32  33    Poison       NaN     0.9    19.5      False
33  34    Poison    Ground     1.4    62.0      False
34  35     Fairy       NaN     0.6     7.5      False
35  36     Fairy       NaN     1.3    40.0      False
36  37      Fire       NaN     0.6     9.9      False
37  38      Fire       NaN     1.1    19.9      False
38  39    Normal     Fairy     0.5     5.5      False
39  40    Normal     Fairy     1.0    12.0      False
40  41    Poison    Flying     0.8     7.5      False
41  42    Poison    Flying     1.6    55.0      False
42  43     Grass    Poison     0.5     4.2      False
43  44     Grass    Poison     0.8     8.6      False
44  45     Grass    Poison     1.2    18.6      False
45  46       Bug     Grass     0.3     5.4      False
46  47       Bug     Grass     1.0    29.5      False
47  48       Bug    Poison     1.0    30.0      False
48  49       Bug    Poison     1.5    12.5      False
49  50    Ground       NaN     0.2     0.8      False
50  51    Ground       NaN     0.7    33.3      False
51  52    Normal       NaN     0.4     4.2      False
52  53    Normal       NaN     1.0    32.0      False
53  54     Water       NaN     0.8    19.5      False
54  55     Water       NaN     1.7    76.6      False
55  56  Fighting       NaN     0.5    28.0      False
56  57  Fighting       NaN     1.0    32.0      False
57  58      Fire       NaN     0.7    19.0      False
58  59      Fire       NaN     1.9   155.0      False
59  60     Water       NaN     0.6    12.4      False
60  61     Water       NaN     1.0    20.0      False
61  62     Water  Fighting     1.3    54.0      False
62  63   Psychic       NaN     0.9    19.5      False
63  64   Psychic       NaN     1.3    56.5      False
64  65   Psychic       NaN     1.5    48.0      False
65  66  Fighting       NaN     0.8    19.5      False
66  67  Fighting       NaN     1.5    70.5      False
67  68  Fighting       NaN     1.6   130.0      False
68  69     Grass    Poison     0.7     4.0      False
69  70     Grass    Poison     1.0     6.4      False
70  71     Grass    Poison     1.7    15.5      False
71  72     Water    Poison     0.9    45.5      False
72  73     Water    Poison     1.6    55.0      False

# Remove Duplicate Values