In [1]:
import pandas as pd

In [2]:
stokcs = pd.read_csv('http://bit.ly/smallstocks')
stokcs

         Date   Close    Volume Symbol
0  2016-10-03   31.50  14070500   CSCO
1  2016-10-03  112.52  21701800   AAPL
2  2016-10-03   57.42  19189500   MSFT
3  2016-10-04  113.00  29736800   AAPL
4  2016-10-04   57.24  20085900   MSFT
5  2016-10-04   31.35  18460400   CSCO
6  2016-10-05   57.64  16726400   MSFT
7  2016-10-05   31.59  11808600   CSCO
8  2016-10-05  113.05  21453100   AAPL

In [3]:
stokcs.index

RangeIndex(start=0, stop=9, step=1)

In [4]:
stokcs.groupby('Symbol').Close.mean()

Symbol
AAPL    112.856667
CSCO     31.480000
MSFT     57.433333
Name: Close, dtype: float64

In [5]:
ser = stokcs.groupby(['Symbol', 'Date']).Close.mean()
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [6]:
ser.index

MultiIndex([('AAPL', '2016-10-03'),
            ('AAPL', '2016-10-04'),
            ('AAPL', '2016-10-05'),
            ('CSCO', '2016-10-03'),
            ('CSCO', '2016-10-04'),
            ('CSCO', '2016-10-05'),
            ('MSFT', '2016-10-03'),
            ('MSFT', '2016-10-04'),
            ('MSFT', '2016-10-05')],
           names=['Symbol', 'Date'])

In [7]:
ser.unstack()

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [8]:
df = stokcs.pivot_table(values='Close', index='Symbol', columns='Date')
df

Date    2016-10-03  2016-10-04  2016-10-05
Symbol
AAPL        112.52      113.00      113.05
CSCO         31.50       31.35       31.59
MSFT         57.42       57.24       57.64

In [9]:
ser

Symbol  Date
AAPL    2016-10-03    112.52
        2016-10-04    113.00
        2016-10-05    113.05
CSCO    2016-10-03     31.50
        2016-10-04     31.35
        2016-10-05     31.59
MSFT    2016-10-03     57.42
        2016-10-04     57.24
        2016-10-05     57.64
Name: Close, dtype: float64

In [10]:
ser.loc['AAPL']

Date
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
Name: Close, dtype: float64

In [11]:
ser.loc['AAPL', '2016-10-03']

np.float64(112.52)

In [12]:
ser.loc[:, '2016-10-03']

Symbol
AAPL    112.52
CSCO     31.50
MSFT     57.42
Name: Close, dtype: float64

In [13]:
stokcs.set_index(['Symbol', 'Date'], inplace=True)
stokcs

                    Close    Volume
Symbol Date
CSCO   2016-10-03   31.50  14070500
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500
AAPL   2016-10-04  113.00  29736800
MSFT   2016-10-04   57.24  20085900
CSCO   2016-10-04   31.35  18460400
MSFT   2016-10-05   57.64  16726400
CSCO   2016-10-05   31.59  11808600
AAPL   2016-10-05  113.05  21453100

In [14]:
stokcs.sort_index(inplace=True)
stokcs

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
       2016-10-04  113.00  29736800
       2016-10-05  113.05  21453100
CSCO   2016-10-03   31.50  14070500
       2016-10-04   31.35  18460400
       2016-10-05   31.59  11808600
MSFT   2016-10-03   57.42  19189500
       2016-10-04   57.24  20085900
       2016-10-05   57.64  16726400

In [15]:
stokcs.loc['AAPL']

             Close    Volume
Date
2016-10-03  112.52  21701800
2016-10-04  113.00  29736800
2016-10-05  113.05  21453100

In [16]:
stokcs.loc[('AAPL', '2016-10-03'), :]

Close          112.52
Volume    21701800.00
Name: (AAPL, 2016-10-03), dtype: float64

In [17]:
stokcs.loc[('AAPL', '2016-10-03'), 'Close']

np.float64(112.52)

In [18]:
stokcs.loc[(['AAPL', 'MSFT'], '2016-10-03'), :]

                    Close    Volume
Symbol Date
AAPL   2016-10-03  112.52  21701800
MSFT   2016-10-03   57.42  19189500

In [19]:
stokcs.loc[(['AAPL', 'MSFT'], '2016-10-03'), 'Close']

Symbol  Date
AAPL    2016-10-03    112.52
MSFT    2016-10-03     57.42
Name: Close, dtype: float64

In [20]:
stokcs.loc[('AAPL', ['2016-10-04', '2016-10-03']), 'Close']

Symbol  Date
AAPL    2016-10-04    113.00
        2016-10-03    112.52
Name: Close, dtype: float64

In [21]:
stokcs.loc[(slice(None), ['2016-10-04', '2016-10-03']), :]

                    Close    Volume
Symbol Date
AAPL   2016-10-04  113.00  29736800
CSCO   2016-10-04   31.35  18460400
MSFT   2016-10-04   57.24  20085900
AAPL   2016-10-03  112.52  21701800
CSCO   2016-10-03   31.50  14070500
MSFT   2016-10-03   57.42  19189500

In [22]:
volume = pd.read_csv('http://bit.ly/smallstocks', usecols=[0, 2, 3], index_col=['Symbol', ])
volume

              Date    Volume
Symbol
CSCO    2016-10-03  14070500
AAPL    2016-10-03  21701800
MSFT    2016-10-03  19189500
AAPL    2016-10-04  29736800
MSFT    2016-10-04  20085900
CSCO    2016-10-04  18460400
MSFT    2016-10-05  16726400
CSCO    2016-10-05  11808600
AAPL    2016-10-05  21453100